<%   @menu_page = :items %>
<%= render 'account/account_nav' %>
<style type="text/css"> 
#fancybox-left-ico { 
 left: 20px; 
} 

#fancybox-right-ico { 
 right: 20px; 
 left: auto; 
} 
#fancybox-left, #fancybox-right {
	width: 15%;
}

</style>

<div id="internal-right">
	<div id="inventory-menu">
		<div id="inventory-menu-leftarrow" class="disabled"></div>
        <div id="inventory-menu-rightarrow"></div>
		<div id="inventory-boxdisplay">
            <div id="inventory-boxcanvas">
				<div class="inventory-boxdisplay-box <%= params[:box_id].blank? ? "activebox" : "" %>">
                   <p><a href="/stored_items">SHOW ALL</a></p>
                   <p>content of all boxes</p>
                   <div class="inventory-boxdisplay-image showall"><a href="/stored_items"></a></div>
              	</div>
	<% @boxes.each do |box| %>
				<div class="inventory-boxdisplay-box <%= box.id.to_s == params[:box_id] ? "activebox" : "" %>">
			        <p><a href="/boxes/<%= box.id %>/stored_items">Box <%= box.box_num %></a></p>
			        <p>
					<% if box.description.blank? %>
						<i>no description</i>
					<% else %>
						<%= box.description %>
					<% end %>
					</p>
			        <div class="inventory-boxdisplay-image"><a href="/boxes/<%= box.id %>/stored_items"></a></div>
			    </div>
	<% end %>
				<div class="clearer"></div>
			</div>
		</div>
	</div>
		<% @stored_items.each_with_index do |stored_item, index| %>
	        <div class="browse-item">
				<%= image_tag(stored_item.photo.url(:medium), :name => "medium_" + stored_item.id.to_s, :height => 150, :width => 150) %>
				<p>(Box: <%= stored_item.box.box_num %>)</p>
				<div class="browse-item-menu">
					<div class="browse-item-menu-contents">
						<p class="browse-item-menu-contents-head">Item Options</p>
						<ul>
							<li><a class="grouped_images" rel="grouped_images" href="/stored_items/<%= stored_item.id %>">Details</a></li>
							<!--<%= link_to("Details", "/stored_items/#{stored_item.id}", :method => :get, :remote => true, :class => "grouped_images", :rel => "grouped_images") %>-->
							<li><a href="#">Mail to me</a></li>
							<li><a href="#">Sell</a></li>
							<li><a href="#">Donate to charity</a></li>
							<li><a href="#">Safely dispose of</a></li>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
</div>
<div class="clearer"></div>

