<%   @menu_page = :items %>
<%= render 'account/account_nav' %>
<style type="text/css"> 
#fancybox-left-ico { 
 left: 20px; 
} 

#fancybox-right-ico { 
 right: 20px; 
 left: auto; 
} 
#fancybox-left, #fancybox-right {
	width: 15%;
}

ul.ui-autocomplete {

}
</style>
<% if @selected_item %>
	<script language="javascript">
		jQuery(document).ready(function() {
		    $("#<%=@selected_item.id.to_s%>_details_link").trigger('click');
		});
	</script>
<% end %>
<div id="internal-right">
	<%= form_tag "/stored_items", :id => "tags_search" do %>
		<div style="text-align:center">
			<%= autocomplete_field_tag 'tags', params[:tags], '/stored_items/autocomplete_stored_item_tags', :placeholder => "search your items", :style => "width: 400px; margin-bottom: 25px; ", :id_element => "#selected_item" %>
			<%= hidden_field_tag :selected_item, params[:selected_item] %>
			<%= submit_tag "Search" %>
			</div>
	<% end %>
	<div id="inventory-menu">
		<div id="inventory-menu-leftarrow" class="disabled"></div>
        <div id="inventory-menu-rightarrow"></div>
		<div id="inventory-boxdisplay">
            <div id="inventory-boxcanvas">
				<div class="inventory-boxdisplay-box <%= params[:box_id].blank? ? "activebox" : "" %>">
                   <p><a href="/stored_items">SHOW ALL</a></p>
                   <p>content of all boxes</p>
                   <div class="inventory-boxdisplay-image showall"><a href="/stored_items"></a></div>
              	</div>
	<% @boxes.each do |box| %>
				<div class="inventory-boxdisplay-box <%= box.id.to_s == params[:box_id] ? "activebox" : "" %>">
			        <p><a href="/boxes/<%= box.id %>/stored_items">Box <%= box.box_num %></a></p>
			        <p>
					<% if box.description.blank? %>
						<i>no description</i>
					<% else %>
						<%= box.description %>
					<% end %>
					</p>
			        <div class="inventory-boxdisplay-image"><a href="/boxes/<%= box.id %>/stored_items"></a></div>
			    </div>
	<% end %>
				<div class="clearer"></div>
			</div>
		</div>
	</div>
		<% @stored_items.each_with_index do |stored_item, index| %>
	        <div class="browse-item">
				<%= image_tag(stored_item.photo.url(:medium), :name => "medium_" + stored_item.id.to_s, :height => 150, :width => 150) %>
				<p>(Box: <%= stored_item.box.box_num %>)</p>
				<div class="browse-item-menu">
					<div class="browse-item-menu-contents">
						<p class="browse-item-menu-contents-head">Item Options</p>
						<ul>
							<li><a id="<%= stored_item.id %>_details_link" class="grouped_images" rel="grouped_images" href="/stored_items/<%= stored_item.id %>">Details</a></li>
							<li><a href="#">Mail to me</a></li>
							<li><a href="#">Sell</a></li>
							<li><a href="#">Donate to charity</a></li>
							<li><a href="#">Safely dispose of</a></li>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
</div>
<div class="clearer"></div>
