Dear <%= @user.first_name %> <%= @user.last_name %>,
<br><br>
We just wanted to inform you that we have prepared and shipped boxes for order <%= @order_lines[0].order.id %>. They are being shipped to:
<br><br>
<ul>
<% @order_lines.each do |order_line| %>
	<% if order_line.return_order_line? %>
		<li>Box <%= order_line.service_box.box_num %>: <%= raw address_summary order_line.shipment.to_address %></li>
	<% else %>
		<%= raw address_summary order_line.shipment.to_address %>
	<% end %>
<% end %>
</ul>
<br><br>
You can track your packages using the following tracking numbers via fedex.com. Note that it may take up to 1 business day for FedEx to integrate these tracking numbers into the FedEx system.
<ul>
<% @order_lines.each do |order_line| %>
	<li><a href="http://www.fedex.com/Tracking?action=track&tracknumbers=<%= order_line.shipment.tracking_number %>"><%= order_line.shipment.tracking_number %></a></li>
<% end %>
</ul>
<br><br>
Thanks for using The Visible Closet, and have a great day!
<br><br>
<div style="padding 0 0 0 15px">~ The Visible Closet Team</div>
<br><br>