<% @menu_page = :boxes %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<div id="internal-right">
        <p class="browse-headline bottom-border">You currently have <strong><%= @boxes.size %></strong> active boxes. <a href="/account/store_more_boxes">Click here to add more.</a></p>
	<% @boxes.each_with_index do |box, index| %>
		<% if index % 3 == 0 && index != 0 %>
	    <!-- DIVIDER -->
	    <div class="clearer bottom-border"></div>
	    <!-- END DIVIDER -->		
		<% end %>

        <!-- BROWSE BOX -->
        <div class="browse-box">
            <p class="browse-box-name">Box <%= box.id %></p>
            <p>
			<% if box.description %>
			<%= box.description %>
			<% else %>
			<i>no description</i>
			<% end %>
			</p>
			<% if box.status == Box::NEW_STATUS && box.box_type == Box::VC_BOX_TYPE %>
				<% image_file = "status-inventory-to-you" %>
				<% alt = "Inventory Complete" %>
			<% elsif box.status == Box::IN_TRANSIT_STATUS %>
				<% image_file = "status-inventory-to-you" %>
				<% alt = "In Transit" %>
			<% elsif box.status == Box::IN_STORAGE_STATUS && box.indexing_status == Box::NO_INDEXING_REQUESTED %>
				<% image_file = "missing" %>
				<% alt = "In Storage" %>
			<% elsif box.status == Box::IN_STORAGE_STATUS && box.indexing_status == Box::INDEXING_REQUESTED %>
				<% image_file = "status-inventory-processing" %>
				<% alt = "Inventory Being Processed" %>
			<% elsif box.status == Box::IN_STORAGE_STATUS && box.indexing_status == Box::INDEXED %>
				<% image_file = "status-inventory-complete" %>
				<% alt = "Inventory Complete" %>
			<% elsif box.status == Box::BEING_PREPARED_STATUS %>
				<% image_file = "missing" %>
				<% alt = "Being Prepared by You" %>
			<% end %>
            <img src="/images/<%= image_file %>.jpg" alt="<%= alt %>" />
            <p><strong>Box Status: </strong><%= box.status_en %></p>
            <p><strong>Number of Items: </strong><%= box.item_count %></p>
			<% if box.status == Box::IN_STORAGE_STATUS %>
			<p><strong>Date Received: </strong><%=box.received_at.blank? ? "unknown" : box.received_at.strftime('%m/%d/%Y')%></p>
			<% else %>
				<p><strong>Date Ordered: </strong><%=box.created_at.strftime('%m/%d/%Y')%></p>
			<% end %>
            <div class="browse-box-menu">
                <div class="browse-box-menu-contents">
                    <p class="browse-box-menu-contents-head">Box Options</p>
                    <ul>
                        <li><a href="/boxes/<%= box.id %>/edit">edit</a></li>
                        <li><a href="#">mail this box</a></li>
						<% if box.indexing_status == Box::INDEXED %>
                        <li><a href="/boxes/<%= box.id %>/stored_items">view inventory</a></li>
						<% end %>
						<% if box.box_type == Box::CUST_BOX_TYPE && box.status == Box::BEING_PREPARED_STATUS %>
							<li><a href="/box/<%= box.id %>/get_label">print label</a></li>
						<% end %>                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- END BROWSE BOX -->
		
	<% end %>        
    </div>
<div class="clearer"></div>