<%= render 'account/account_nav' %>
<div class="grid_10">
<% if !@boxes || @boxes.size == 0 %>
You do not have any boxes in storage order under management. Click <a href="/account/store_more_boxes">here</a> to start storing boxes!
<% else %>
<table class="prices_table"><tr>
	<th>Box ID</th>
	<th>Status</th>
	<th>Box Source</th>
	<th>Description</th>
	<th>Inventory?</th>
	<th>Edit</th>
	</tr>
	<% @boxes.each do |box| %>
	  <tr>
		<td><%= box.id %></td>
		<td><%= box.status_en %></td>
		<td><%= box.box_type == Box::CUST_BOX_TYPE.to_s ? "Your box" : "Visible Closet box" %></td>
		<td width="250px"><%= box.description %></td>
		<td>
			<% if box.indexing_status == Box::INDEXING_REQUESTED %>
				Soon!
			<% elsif box.indexing_status == Box::INDEXED %>
				<a href="/boxes/<%= box.id %>/stored_items">Inventory</a>
			<% else %>
				NA
			<% end %>
		</td>
	    <td><%= link_to 'Edit', edit_box_path(box) %></td>
	  </tr>
	<% end %>
</table>
<% end %>
<br />
</div>
