<%= render 'account/account_nav' %>
<div class="account_center">
<% if !@boxes || @boxes.size == 0 %>
You do not have any boxes in storage order under management. Click <a href="/account/store_more_boxes">here</a> to start storing boxes!
<% else %>
<table class="prices_table"><tr>
	<th>Box ID</th>
	<th>User id</th>
	<th>Order Line Id</th>
	<th>Status</th>
	<th>Type</th>
	<th>Insured</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Destroy</th>
	</tr>
	<% @boxes.each do |box| %>
	  <tr>
		<td><%= box.id %></td>
		<td><%= box.assigned_to_user_id %></td>
		<td><%= box.order_line_id %></td>
		<td><%= box.status %></td>
		<td><%= box.box_type %></td>
		<td><%= box.insured %></td>
	    <td><%= link_to 'Show', box %></td>
	    <td><%= link_to 'Edit', edit_box_path(box) %></td>
	    <td><%= link_to 'Destroy', box, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
</table>
<% end %>
<br />
</div>
