
<% content_for :head do %>
	<%= stylesheet_link_tag "/css/application.css" %>
	<%= javascript_include_tag "/javascripts/plupload/plupload.full.min.js" %>
	<%= javascript_include_tag "/javascripts/plupload/jquery.plupload.queue.min.js" %>
	<%= javascript_include_tag "/javascripts/rails.js" %>
	<%= javascript_include_tag "/javascripts/application.js" %> 
	<%= javascript_tag do %>
		<%= render "plupload.js" %>
	<% end %>

	<style type="text/css"> 

		.imgteaser {
			margin: 0;
			overflow: hidden;
			float: left;
			position: relative;
		}
		.imgteaser a {
			text-decoration: none;
			float: left;
		}
		.imgteaser a:hover {
			cursor: pointer;
		}
		.imgteaser a img {
			float: left;
			margin: 0;
			padding: 2px;
			background: #fff;
			border: 1px solid #ddd;
		}
		.imgteaser a .more {
			position: absolute;
			right: 20px;
			bottom: 20px;
			font-size: 1.2em;
			color: #fff;
			background: #000;
			padding: 5px 10px;
			filter:alpha(opacity=65);
			opacity:.65;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; /*--IE 8 Transparency--*/
		}
		.imgteaser a .desc {	display: none; }
		.imgteaser a:hover .more { visibility: hidden;}
		.imgteaser a:hover .desc{
			display: block;
			font-size: 1.2em;
			padding: 2px 0;
			background: #111;
			filter:alpha(opacity=75);
			opacity:.75;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
			color: #fff;
			position: absolute;
			bottom: 2px;
			left: 2px;
			padding: 10px;
			margin: 0;
			width: 80px;
			height: 80px;
			text-align: center;
			border-top: 1px solid #999;
		}
		.imgteaser a:hover .desc strong {
			display: block;
			margin-bottom: 5px;
			font-size:1.5em;
		}
	</style>
<% end %>

<div class="grid_11">
<a href="/admin/home">&lt;&lt; Return to admin home</a><br><br>
  <div id='flash'></div> 
  <div id='photos_container' style="width:50%"> 

   <% @box.stored_items.each do |stored_item| %>
<div class="imgteaser"> 
<a href="delete_stored_item?id=<%= stored_item.id.to_s %>&amp;box_id=<%= @box.id %>"> 
	<%= image_tag(stored_item.photo.url(:thumb), :id => "image_" + stored_item.id.to_s) %>
	<!--<span class="more">&raquo; Learn More</span> -->
	<span class="desc"> 
		Delete
	</span> 
</a>
</div>
	<% end %>
</div> <!-- photos_container -->
<div>
  <div id='uploader'> 
    <p>Your browser doesn't have HTML5, Flash or Silverlight support.</p> 
  </div>
</div> 
</div> <!-- grid_11 -->

