<div class="grid_9">
<%= form_tag("process_lines", :class => "standard", :id => "process_lines_form", :name => "process_lines_form") %>
<table class="prices_table">
  <tr>
	<th width="15%">
		<%= check_box_tag('check_all', 'check_all', false,  :onClick => "SetAllCheckBoxes('process_lines_form', 'order_line_ids[]', this.checked)")%>
		
	Select All</th>
	<th width="15%">Order ID</th>
	<th width="20%">Order Line ID</th>
    <th width="15%">Product ID</th>
    <th width="25%">Product Desc</th>
    <th>Quantity</th>
    <th>Status</th>
  </tr>
<% @order.order_lines.each do |order_line| %>
<% product = order_line.product %>
<% class_name = order_line.status == OrderLine::NEW_STATUS ? "order_line_new" : "order_line_processed" %>
  <tr>
	<td class="<%= class_name %>">
		<% if order_line.status == OrderLine::NEW_STATUS %>
		<%= check_box_tag("order_line_ids[]", order_line.id) %>
		<% else %>
		NA
		<% end %>
	</td>
	<td class="<%= class_name %>">
      <%= @order.id %>
    </td>
	<td class="<%= class_name %>">
      <%= order_line.id %>
    </td>
	<td class="<%= class_name %>">
      <%= product.id %>
    </td>
	<td class="<%= class_name %>">
		<%= product.name %>
	</td>
	<td class="<%= class_name %>">
		<%= order_line.quantity %>
	</td>
	<td class="<%= class_name %>">
      <%= order_line.status %>
    </td>
  </tr>
<% end %>
</table>
<br>
<div class="right">
<%= submit_tag("Process Selected Lines", :class => "button") %>
</div>
</div>