<% active_class_str = " class='active'" %>
<% boxes_class = ""; items_class = ""; store_class = ""; cart_class = ""; support_class = ""; %>
<% case @menu_page %>
<% when :boxes %>
<%   boxes_class = active_class_str %>
<% when :box %>
<%   boxes_class = active_class_str %>
<% when :items %>
<%   items_class = active_class_str %>
<% when :store_more_stuff %>
<%   store_class = active_class_str %>
<% when :cart %>
<%   cart_class = active_class_str %>
<% when :support %>
<%   support_class = active_class_str %>
<% when :account %>
<%   account_class = active_class_str %>
<% end %>
<!-- SIDE MENU HTML -->
<div id="internal-left">
    <div id="side-menu">
	    <ul>
	 		<li<%= account_class %>><a href="/account/home">Account</a></li>	
	        <li<%= boxes_class %>><a href="/boxes">Browse Boxes</a></li>
	        <li<%= items_class %>><a href="#">Browse Items</a></li>
	        <li<%= store_class %>><a href="/account/store_more_boxes">Store More Stuff</a></li>
	 		<li<%= cart_class %>><a href="/account/cart">My Cart</a></li>
	        <li<%= support_class %>><a href="#">Support</a></li>
	    </ul>
	</div>
	<% if @menu_page == :boxes %>
		<img src="/images/browse-legend.jpg" alt="Legend" style="margin-top:20px" />
	<% end %>
</div>
