<% @menu_page = :account %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<script language=javascript>
function openMemberAgreement() {
                window.radopen("membership_agrement", "Agreement");
            }
</script>
<div id="internal-right">
	<h1>Confirm Order</h1>
	<% @order.errors.each do |attr, message| %>
	  <div class="error_label"><%= message %></div><br>
	<% end %>
	
<%= form_for @order, :url => "/account/finalize_check_out", :html => { :class => "standard" } do |f| %>
<div id="upper">
<div style="width: 200px; float: left;">
	<div class="simple_header">Shipping Address</div><br>
	<%= hidden_field_tag :shipping_address_id, @shipping_address.id %>
	<%= @shipping_address.first_name %> <%= @shipping_address.last_name %>
	<br><%= @shipping_address.address_line_1 %>
	<% if !@shipping_address.address_line_2.blank? %>
	<br><%= @shipping_address.address_line_2 %>
	<% end %>
	<br><%= @shipping_address.city %>, <%= @shipping_address.state %>
	<br><%= @shipping_address.zip %>
	<br>Day Phone: <%= number_to_phone(@shipping_address.day_phone) %>
	<% if !@shipping_address.evening_phone.nil? %>
	<br>Evening Phone: <%= number_to_phone(@shipping_address.evening_phone) %>
	<% end %>
	<br><br>
	<% if @addresses.size > 1 %>
	<a href="/account/select_new_shipping_address">Choose other address</a><br>
	<% end %>
	<a href="/account/add_new_shipping_address">Enter new address</a>
</div>
<div style="width: 300px; float: right; margin-right: 100px">
	<br>
<div class="simple_header" style="padding: 0 0 0 0">Credit Card (default on file)</div><br>
<% profile = current_user.default_payment_profile %>
<b><%= profile.cc_type.capitalize %></b> ending in <%= profile.last_four_digits %>.<br>
Name on card: <%= profile.first_name %> <%= profile.last_name %><br>
Expires on: <%= profile.month %>/<%= profile.year %><br><br>
	<a href="/payment_profiles">Manage your cards</a> | <a href="/payment_profiles/new?source_c=account&source_a=check_out">Enter new default card</a>
</div>
<div style="clear: both">
</div>
</div>
<br><br>
<hr>
	<table class="check_out_cart_summary">
		<tr>
			<th>
				Item
			</th>
			<th>
				Quantity
			</th>
			<th>
				Cost 
			</th>
			<th>
			Plan	
			</th>
			<th>
				Due Now
			</th>
		</tr><% @cart.cart_items.each do |cart_item| %>
			<% product = Product.find(cart_item.product_id) %>
		<tr>
			<td align="left">
				<%= product.name %>
			</td>
			<td>
				<%= cart_item.quantity %>
			</td>
			<td>
				<%= number_to_currency(cart_item.discount.total_monthly_price_after_discount) %> per month
				<a href="#discount_synopsis" id="discount_synopsis_link">
				<% if cart_item.discount? %>
					 (<%= number_to_percentage(cart_item.discount.unit_discount_perc*100.0, :precision => 0)%> discount)
				<% else %>
					(no discount)
				<% end %>	
				</a>
			</td>
			<td>
				<% if cart_item.committed_months >= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_3 %>
					<%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_3 %>-month plan
				<% elsif cart_item.committed_months >= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_2 %>
					<%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_2 %>-month plan
				<% elsif cart_item.committed_months >= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_1 %>
					<%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_1 %>-month plan
				<% else %>
					Monthly
				<% end %>
			</td>
			<td align="right">
				<%= number_to_currency(cart_item.discount.due_at_signup) %>
				<% if cart_item.committed_months >= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_1 %>
					<a href="#plan_inline" id="checkout_plan_link">(why?)</a>
				<% elsif product.id == Rails.application.config.our_box_product_id %>
					<a href="#vc_box_inline" id="vc_product_link" title="Visible Closet Box Details">(why?)</a>
				<% elsif product.id == Rails.application.config.your_box_product_id %>
					<a href="#cust_box_inline" id="cust_product_link" title="Customer Box Details">(why?)</a>
				<% end %>
			</td>
		</tr><% end %> <!-- end loop -->
	</table>
	<br>
	<hr>
	<div style="text-align:right; position:relative; padding: 0 20px 10px 0;">
	<b>Total: <%= number_to_currency(@cart.estimated_total) %></b>
	</div><br>
	<div style="margin: auto; float:left; width: 15px"><%= check_box_tag :agreed, 1, params[:agreed].nil? ? false : params[:agreed] == "1" %></div>
	<div style="float: right; width: 680px"><b>Accept the Rental Agreement:</b> I certify that I have read and agree to the <a id="member_agreement_link" href="/member_agreement_ajax">Member Agreement</a> associated with this service. I understand that I will be responsible for paying all shipping and storage charges billed to my account by thevisiblecloset.com</div>
	<div class="clearer"></div>
	<div style="text-align: right; padding: 20px 0 0 0">
	<%= submit_tag("Store My Stuff!", :class => "button") %>
	</div>
	<br>
</div>
<% end %> <!-- end form -->
<div class="clearer"></div>
<div style="display: none">
<div id="cust_box_inline" style="text-align: center"><b>Why am I ordering my own box?</b><br><br>We want to make sure that when we receive your box we know who sent it! <br>By clicking "Store My Stuff" you will create a record of your box in your account, and receive instructions on how to ship it. <br>You can also track your box while it's in transit, and name the box for your own reference. </div>
<div id="vc_box_inline" style="text-align: center"><b>Why am I paying for this box?</b><br><br>Ordering a box from The Visible Closet requires that you pay your first month's rent up front. <br>Once you complete your order we will send you your free shipping materials. <br>You do not pay any more storage costs until your box has been in storage for one month.</div>
<div id="plan_inline" style="text-align: center"><b>Why am I paying right now?</b><br><br>You have signed up for a multi-month plan, which gets you access to your free shipping voucher(s)! All plans require that you pay your first three months' rent up front. Any subsequent months in your plan will be billed at the price indicated above. At the end of your plan you can either sign up for another plan or switch to monthly billing (see <a href="/pricing">pricing</a> page for details on pricing for other plans and for the month-to-month option).</div>
<div id="discount_synopsis" style="text-align: center"><b>Discount List</b><br><br>
	<table class="prices_table">
		<tr><th>Description</th><th>Discount</th></tr>
		<tr>
			<td>Store over <%= Discount::BOX_COUNT_DISCOUNT_THRESHOLD_1-1 %> VC Boxes (or over <%= Discount::CF_DISCOUNT_THRESHOLD_1-1 %> cubic feet of your boxes)</td>
			<td>Additional <%= number_to_percentage(Discount::UNIT_COUNT_THRESHOLD_1_DISCOUNT*100, :precision => 0) %> off</td>
		</tr>
		<tr>
			<td>Store over <%= Discount::BOX_COUNT_DISCOUNT_THRESHOLD_2-1 %> VC Boxes (or over <%= Discount::CF_DISCOUNT_THRESHOLD_2-1 %> cubic feet of your boxes)</td>
			<td>Additional <%= number_to_percentage(Discount::UNIT_COUNT_THRESHOLD_2_DISCOUNT*100, :precision => 0) %> off</td>
		</tr>
		<tr>
			<td>Store over <%= Discount::BOX_COUNT_DISCOUNT_THRESHOLD_3-1 %> VC Boxes (or over <%= Discount::CF_DISCOUNT_THRESHOLD_3-1 %> cubic feet of your boxes)</td>
			<td>Additional <%= number_to_percentage(Discount::UNIT_COUNT_THRESHOLD_3_DISCOUNT*100, :precision => 0) %> off</td>
		</tr>
		<tr>
			<td><%= Discount::FREE_SHIPPING_MONTH_THRESHOLD %>-month plan</td>
			<td>Add free shipping voucher per box</td>
		</tr>
		<tr>
			<td><%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_2 %>-month plan</td>
			<td>Additional <%= number_to_percentage(Discount::MONTH_COUNT_THRESHOLD_2_DISCOUNT*100, :precision => 0) %> off</td>
		</tr>
		<tr>
			<td><%= Discount::MONTH_COUNT_DISCOUNT_THRESHOLD_3 %>-month plan</td>
			<td>Additional <%= number_to_percentage(Discount::MONTH_COUNT_THRESHOLD_3_DISCOUNT*100, :precision => 0) %> off</td>
		</tr>
	</table>
</div>