<% @menu_page = :account %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<div id="internal-right">
<%= form_for @order, :url => "/account/finalize_check_out", :html => { :class => "standard" } do |f| %>
  <div class="grid_4">
	<h3>Billing Address</h3>
	<%= hidden_field_tag :billing_address_id, @billing_address.id %>
	<%= @billing_address.first_name %> <%= @billing_address.last_name %>
	<br><%= @billing_address.address_line_1 %>
	<% if !@billing_address.address_line_2.blank? %>
	<br><%= @billing_address.address_line_2 %>
	<% end %>
	<br><%= @billing_address.city %>, <%= @billing_address.state %>
	<br><%= @billing_address.zip %>
	<br>Day Phone: <%= number_to_phone(@billing_address.day_phone) %>
	<% if !@billing_address.evening_phone.nil? %>
	<br>Evening Phone: <%= number_to_phone(@billing_address.evening_phone) %>
	<% end %>
	<br>
	<% if @addresses.size > 1 %>
	<a href="/account/select_new_billing_address">Choose other address</a> |
	<% end %>
	<a href="/account/add_new_billing_address">Enter new address</a>
  </div>
  <div class="grid_4">
	<div style="padding-left: 30px">
	<h3>Shipping Address</h3>
	<%= hidden_field_tag :shipping_address_id, @shipping_address.id %>
	<%= @shipping_address.first_name %> <%= @shipping_address.last_name %>
	<br><%= @shipping_address.address_line_1 %>
	<% if !@shipping_address.address_line_2.blank? %>
	<br><%= @shipping_address.address_line_2 %>
	<% end %>
	<br><%= @shipping_address.city %>, <%= @shipping_address.state %>
	<br><%= @shipping_address.zip %>
	<br>Day Phone: <%= number_to_phone(@shipping_address.day_phone) %>
	<% if !@shipping_address.evening_phone.nil? %>
	<br>Evening Phone: <%= number_to_phone(@shipping_address.evening_phone) %>
	<% end %>
	<br>
	<% if @addresses.size > 1 %>
	<a href="/account/select_new_shipping_address">Choose other address</a> |
	<% end %>
	<a href="/account/add_new_shipping_address">Enter new address</a>
	</div>
  </div>
<br>
<br>
<hr>
<div class="simple_header">Credit Card Info</div><br>
	<div class="field clearfix">
	<%= f.label :card_type %>
	<div style="position:relative; right:210px; top:10px;">
	<%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
	<%= error_messages_for_attribute(@order, :card_type) %>
	</div>
	</div>
	<div class="field clearfix">
	<%= f.label :card_first_name %>
	<%= f.text_field :card_first_name, :class => "textbox" %>
	<%= error_messages_for_attribute(@order, :card_first_name) %>
	</div>
	<div class="field clearfix">
	<%= f.label :card_last_name %>
	<%= f.text_field :card_last_name, :class => "textbox" %>
	<%= error_messages_for_attribute(@order, :card_last_name) %>
	</div>
	<div class="field clearfix">
	<%= f.label :card_number %>
	<%= f.text_field :card_number, :class => "textbox" %>
	<%= error_messages_for_attribute(@order, :card_number) %>
	<div style="color:red">
		At this time the site does not do anything with credit cards.
	</div>
	</div>
	<div class="field clearfix">
	<%= f.label :card_verification_value %>
	<%= f.text_field :card_verification_value, :class => "textbox" %>
	<%= error_messages_for_attribute(@order, :card_verification_value) %>
	</div>
	<div class="field clearfix">
	<%= f.label :card_expires_on %>
		<div style="position:relative; right:160px; top:4px;">
	<%= f.select :card_month, [["01 - January", "1"], ["02 - February", "2"], ["03 - March", "3"], ["04 - April", "4"], ["05 - May", "5"], ["06 - June", "6"], ["07 - July", "7"], ["08 - August", "8"], ["09 - September", "9"], ["10 - October", "10"], ["11 - November", "11"], ["12 - December"]] %>
	<%= f.select :card_year, year_array %>
	<%= error_messages_for_attribute(@order, :card_month) %>
	<%= error_messages_for_attribute(@order, :card_year) %>
		</div>
	</div>
<br>
<hr>
	<table class="check_out_cart_summary">
		<tr>
			<th>
				Item
			</th>
			<th>
				Quantity
			</th>
			<th>
				Unit Price
			</th>
			<th>
				Total Price
			</th>
		</tr><% @cart.cart_items.each do |cart_item| %>
			<% product = Product.find(cart_item.product_id) %>
		<tr>
			<td align="left">
				<%= product.name %>
			</td>
			<td>
				<%= cart_item.quantity %>
			</td>
			<td>
				<%= number_to_currency(product.price) %>
			</td>
			<td align="right">
				<%= number_to_currency(product.price * cart_item.quantity) %>
			</td>
		</tr><% end %> <!-- end loop -->
	</table>
	<br>
	<hr>
	<div style="text-align:right; position:relative; padding: 0 20px 10px 0;">
	<b>Total: <%= number_to_currency(@cart.estimated_total) %></b>
	</div><div style="text-align: right; padding: 20px 0 0 0">
	<%= submit_tag("Place Order", :class => "button") %>
	</div>
	<br>
</div>
<% end %> <!-- end form -->
<div class="clearer"></div>
