<% @menu_page = :account %>
<%= render 'account/account_nav', :locals => { :menu_page => @menu_page } %>
<div id="internal-right">
	<% if @order.errors.size > 0 %>
	<% # If there is a credit card error, it is always followed by garbage. %>
		<% if not @order.errors[:cc_response].nil? %>
	  <div class="error_label"><%= @order.errors[:cc_response][0] %></div><br>
		<% end %>
	<% end %>
	
<%= form_for @order, :url => "/account/finalize_check_out", :html => { :class => "standard" } do |f| %>
	<div class="simple_header">Shipping Address</div><br>
	<%= hidden_field_tag :shipping_address_id, @shipping_address.id %>
	<%= @shipping_address.first_name %> <%= @shipping_address.last_name %>
	<br><%= @shipping_address.address_line_1 %>
	<% if !@shipping_address.address_line_2.blank? %>
	<br><%= @shipping_address.address_line_2 %>
	<% end %>
	<br><%= @shipping_address.city %>, <%= @shipping_address.state %>
	<br><%= @shipping_address.zip %>
	<br>Day Phone: <%= number_to_phone(@shipping_address.day_phone) %>
	<% if !@shipping_address.evening_phone.nil? %>
	<br>Evening Phone: <%= number_to_phone(@shipping_address.evening_phone) %>
	<% end %>
	<br><br>
	<% if @addresses.size > 1 %>
	<a href="/account/select_new_shipping_address">Choose other address</a> |
	<% end %>
	<a href="/account/add_new_shipping_address">Enter new address</a>
<br>
<br>
<hr>
<div class="simple_header" style="padding: 0 0 0 0">Credit Card (default on file)</div><br>
<% profile = current_user.default_payment_profile %>
<b><%= profile.cc_type.capitalize %></b> ending in <%= profile.last_four_digits %>.<br>
Name on card: <%= profile.first_name %> <%= profile.last_name %><br>
Expires on: <%= profile.exp_month %>/<%= profile.exp_year %><br><br>
	<a href="/payment_profiles">Manage your cards</a> | <a href="/payment_profiles/new?source_c=account&source_a=check_out">Enter new default card</a>
<br><br>
<hr>
	<table class="check_out_cart_summary">
		<tr>
			<th>
				Item
			</th>
			<th>
				Quantity
			</th>
			<th>
				Unit Price
			</th>
			<th>
				Total Price
			</th>
		</tr><% @cart.cart_items.each do |cart_item| %>
			<% product = Product.find(cart_item.product_id) %>
		<tr>
			<td align="left">
				<%= product.name %>
			</td>
			<td>
				<%= cart_item.quantity %>
			</td>
			<td>
				<%= number_to_currency(product.price) %>
			</td>
			<td align="right">
				<%= number_to_currency(product.price * cart_item.quantity) %>
			</td>
		</tr><% end %> <!-- end loop -->
	</table>
	<br>
	<hr>
	<div style="text-align:right; position:relative; padding: 0 20px 10px 0;">
	<b>Total: <%= number_to_currency(@cart.estimated_total) %></b>
	</div><div style="text-align: right; padding: 20px 0 0 0">
	<%= submit_tag("Place Order", :class => "button") %>
	</div>
	<br>
</div>
<% end %> <!-- end form -->
<div class="clearer"></div>
