<% @menu_page = :account %>
<%= render 'account_nav', :locals => { :menu_page => @menu_page } %>
<div class="grid_9">
<h1>Order Complete!</h1>
<div style="border-style: dotted">
	<table class="check_out_cart_summary">
		<tr>
			<th>
				Item
			</th>
			<th>
				Quantity
			</th>
			<th>
				Unit Price
			</th>
			<th>
				Total Price
			</th>
		</tr><% @order.order_lines.each do |order_line| %>
			<% product = Product.find(order_line.product_id) %>
		<tr>
			<td align="left">
				<%= product.name %>
			</td>
			<td>
				<%= order_line.quantity %>
			</td>
			<td>
				<%= number_to_currency(product.price) %>
			</td>
			<td align="right">
				<%= number_to_currency(product.price * order_line.quantity) %>
			</td>
		</tr><% end %> <!-- end loop -->
	</table>
	<br>
	<hr>
	<div style="text-align:right; position:relative; padding: 0 20px 10px 0;">
	<h4>Total Charged (first month's rent): <%= number_to_currency(@order.total_in_cents/100) %></h4>
	</div>
</div>
<p>Thank you for placing your order! To keep track of your boxes, see the <a href="/boxes">Browse Boxes</a> menu on the left. </p>
<p>To learn more about how to pack boxes, <a href="">click here</a>.</p> 
<p>You can choose to have your boxes inventoried by marking the indicator on the box (Visible Closet boxes) or the shipping label (your boxes). You can also choose the inventory option once your boxes are in storage by navigating to the <a href="/boxes">Browse Boxes</a> menu.<p>
<% if @order.vc_box_count > 0 %>
<h2>Visible Closet <%= @order.vc_box_count > 1 ? 'Boxes' : 'Box' %></h2>
<p>Your free <%= @order.vc_box_count %> Visible Closet <%= @order.vc_box_count > 1 ? 'boxes' : 'box' %> <%= @order.vc_box_count > 1 ? 'are' : 'is' %> on <%= @order.vc_box_count > 1 ? 'their' : 'its' %> way! Visible Closet boxes are generally shipped to you within one business day, and come pre-addressed -- when you are ready to ship, all you have to do is schedule a pick-up with Fedex by calling 1-800-GO-FEDEX. </p>
<p>Your <%= @order.vc_box_count > 1 ? 'boxes' : 'box' %> will come with free shipping supplies!</p> 

<% end %>
<% if @order.cust_box_count > 0 %>
<h2>Your <%= @order.vc_box_count > 1 ? 'Boxes' : 'Box' %></h2>
<p>You have chosen to store <%= @order.cust_box_count %> <%= @order.vc_box_count > 1 ? 'boxes' : 'box' %> of your own. When you are ready, click <a href="">here</a> to print out <%= @order.vc_box_count > 1 ? '' : 'a ' %>Fedex <%= @order.vc_box_count > 1 ? 'labels' : 'label' %> to affix to your <%= @order.vc_box_count > 1 ? 'boxes' : 'box' %>, and call 1-8000-GO-FEDEX to have Fedex pick up your <%= @order.vc_box_count > 1 ? 'boxes' : 'box' %>. You can also print labels by going to the <a href="/boxes">Browse Boxes</a> menu.</p>

<% end %>
<br><br>
</div>