<% @menu_page = :store_more_stuff %>
<%= render 'account_nav', :locals =>  { :menu_page => @menu_page }%>
<div id="internal-right">

	<% if @cart.errors.size > 0 %>
		<div class="error_label">
			There was a problem saving your entry.<br>
			<% @cart.errors.each do |attr, msg| %>
			<%= msg %><br>
			<% end %>
			<br>
		</div>
	<% end %>
    <p class="more-heading">Please specify the number of boxes of each type that you would like to store.</p>
<%= form_tag("/account/order_boxes", :class => "standard") do %>
    <div class="graybox more-stuff-box-sizing">
        <table class="more-stuff-order">
            <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Your Boxes</th>
                  <th>Our Boxes</th>
                </tr>
              </thead>
              <tbody class="top-line">
                <tr>
                    <td class="detailtext">Number of boxes you would like to store:</td>
                    <td>
	                	<div class="incrementer">
		                    <span>&nbsp;</span>
							<%= text_field_tag(:num_boxes_yours, params[:num_boxes_yours].blank? ? @cart.get_quantity(Rails.application.config.your_box_product_id) : params[:num_boxes_yours], :class => "numberbox") %>
		                    <div class="increment-up"></div>
		                    <div class="increment-down"></div>
		                </div>
					</td>
                    <td>
	                	<div class="incrementer">
		                    <span>&nbsp;</span>
							<%= text_field_tag(:num_boxes_ours, params[:num_boxes_ours].blank? ? @cart.get_quantity(Rails.application.config.our_box_product_id) : params[:num_boxes_ours], :class => "numberbox") %>
		                    <div class="increment-up"></div>
		                    <div class="increment-down"></div>
		                </div>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="order-boxes"><br>
		<%= submit_tag("Store Boxes", :class => "button") %>
    </div>
	<script type="text/javascript" language="JavaScript">
	document.forms[0].elements['num_boxes_yours'].focus();
	</script>
    <div class="order-boxes-notes">
        <p>All Visible Closet boxes are 12"x12"x24".<br />
        You will get a chance to inventory boxes later! We Promise!</p>
        <p><strong>Pricing</strong></p>
        <div class="graybox more-stuff-box-sizing">
            <table>
                <tbody class="left-aligned-text">
                    <tr>
                        <td>Storing a Visible Storage box:</td>
                        <td><%= number_to_currency(@our_box.price) %> <%= @our_box.price_comment %></td>
                    </tr>
                    <tr>
                        <td>Storing your box:</td>
                        <td><%= number_to_currency(@your_box.price) %> <%= @your_box.price_comment %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<% end %>
</div>
<div class="clearer"></div>