<% active_top_str = " class='current-menu-item'" %>
<% home_class = ""; hiw_class = ""; blog_class = ""; contact_class = ""; account_class = ""; %>
<% case @top_menu_page %>
<% when :home %>
<%   home_class = active_top_str %>
<% when :hiw %>
<%   hiw_class = active_top_str %>
<% when :blog %>
<%   blog_class = active_top_str %>
<% when :contact %>
<%   contact_class = active_top_str %>
<% when :account %>
<%   account_class = active_top_str %>
<% end %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<!-- Page Title -->
		<title><%= content_for?(:title) ? yield(:title) : "The Visible Closet" %></title>
		
		<!-- General Meta -->
		<%= csrf_meta_tag %>
		<meta name="keywords" content="" />
		<meta name="description" content="The Visible Closet. Your stuff. Organized. Safeguarded. At your fingertips." />
		<!--<meta name="viewport" content="width=device-width; initial-scale=1.0" />-->

<!-- STYLE SHEET IMPORT -->
<%= stylesheet_link_tag "/css/screen.css" %>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" %>
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif" %>
<%= stylesheet_link_tag "/css/jquery.fancybox-1.3.4.css" %>
<%= stylesheet_link_tag "/css/plupload.queue.css" %>
<%= stylesheet_link_tag "/css/application.css" %>
<%= stylesheet_link_tag "/css/styles.css" %>
<!-- Load JavaScript / jQuery -->
		<%= javascript_include_tag "/javascripts/jquery.min.js" %>
		<%= javascript_include_tag "/javascripts/jquery.cycle.all.min.js" %>
		<%= javascript_include_tag "/javascripts/superfish-combined.js" %>
		<%= javascript_include_tag "/javascripts/jquery.fancybox-1.3.4.pack.js" %>
		<%= javascript_include_tag "/javascripts/rails.js" %>
 		<%= javascript_include_tag "/javascripts/application.js" %>
		<%= javascript_include_tag "/javascripts/date.js" %>
		
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/images/tvc_tiny.jpg" />
		<link rel="apple-touch-icon" href="/images/tvc_tiny.jpg" />
		
		<%= yield :head %>
		
		<script type="text/javascript">

		var _gaq = _gaq ||  [];
		_gaq.push(['_setAccount', 'UA-24704693-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga,s);
		})();

		</script>
	</head>
	
<!-- SIDE MENU HTML -->
<body>
    <div id="toplip">
	<% if user_signed_in? %>
		<div id="container">
	        <div id="block">	
				Signed in as <%= current_user.first_name %> <%= current_user.last_name %>.
				<%= link_to "Sign out", destroy_user_session_path %>
		    </div>
	    </div>
	<% end %>
	</div>
    <div id="container">
        <div id="block">
            <div id="header" class="bottom-border">
                <div id="logo">
                    <a href="/"><img src="/images/vcLogo_beta.gif" alt="Visible Closet" /></a>
                </div>
                <div id="nav">
    				<ul class="sf-menu">
    					<li<%= home_class %>><a href="/">Home</a></li>
    					<li<%= hiw_class %>>
    						<a href="/how_it_works">How It Works</a>
    						<ul>
    							<li><a href="/how_it_works">Overview</a></li>
    
    							<li><a href="/right_for_me">Is this right for me?</a></li>
    							<li><a href="/pricing">Pricing</a></li>
    							<li><a href="/faq">FAQ</a></li>
    							<li><a href="restrictions">Restrictions</a></li>
    						</ul>
    					</li>
    					
    					<li<%= contact_class %>><a href="/contact">Contact</a></li>
						<% if user_signed_in? %>
						  <li<%= account_class %>><a href="/account/home">Account</a></li>
						<% end %>

						<% if not user_signed_in? %>
						<li><a href="/register">Sign Up</a></li>
						<% end %>
    				</ul>
                </div>
                <div class="clearer"></div>
				<% if !user_signed_in? %>
                <div id="login">
                    <a href="/users/sign_in"><img src="/images/login.gif" alt="Log In" /></a> 
                </div>
                <div id="signup">
                    <a href="/register"><img src="/images/signup.gif" alt="Sign Up" /></a> 
                </div>
				<% elsif !@cart.nil? && @cart.num_items > 0 %>
				<div id="cart-display">
                    <p><a href="/account/cart">service requests in cart: <%= @cart.num_items %></a></p>
                </div>
				<% end %>
            </div>
            <div id="page-content">
            <!-- page content -->
<%= yield %>
			<!-- end page content -->
			</div>
            <div id="footer" class="top-border">
                <p class="copyright">Copyright &copy;2011 The Visible Closet, Inc. All Rights Reserved.</p>
                <p class="legal"><a href="/legal">Legal</a> | <a href="/privacy">Privacy Policy</a></p>
                <div class="clearer"></div>
            </div>
<!-- (c) 2005, 2011. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal" style="margin-left: auto; margin-right: auto; padding: 0 0 0 0"> <script type="text/javascript" language="javascript">var ANS_customer_id="39484fce-72da-49d1-8ab2-269cff217b32";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Credit Card Services</a></div>
        </div>
    </div>
</body>
</html>