<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<!-- Page Title -->
		<title><%= content_for?(:title) ? yield(:title) : "The Visible Closet" %></title>
		
		<!-- General Meta -->
		<%= csrf_meta_tag %>
		<meta name="keywords" content="" />
		<meta name="description" content="The Visible Closet. Your stuff. Organized. Safeguarded. At your fingertips." />
		<!--<meta name="viewport" content="width=device-width; initial-scale=1.0" />-->
		
		<!-- Load CSS -->
		<link rel="stylesheet" href="/css/960.css" media="screen" />
		<link rel="stylesheet" href="/css/screen.css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css' />
		<link href="/css/jquery.fancybox-1.3.4.css" rel="stylesheet" media="screen" />

		<!-- Load JavaScript / jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script src="/js/jquery.cycle.all.min.js"></script>
		<script src="/js/superfish-combined.js"></script>
		<script src="/js/jquery.fancybox-1.3.4.pack.js"></script>
		<script src="/js/script.js"></script>


		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/images/tvc_tiny.jpg" />
		<link rel="apple-touch-icon" href="/images/tvc_tiny.jpg" />
	</head>
	<body>		
		<div id="outer">
			
			<div id="header" class="clearfix">
				
				<div id="header-bar" class="clearfix">
					<div class="container_12">
						<div class="grid_12">					
							<div class="right">

								<ul class="header-bar-menu inline-list clearfix">
									<% if user_signed_in? %>	
									<li>Signed in as <%= current_user.first_name %> <%= current_user.last_name %>.
									Not you? &nbsp; <%= link_to "Sign out", destroy_user_session_path %> </li>
									<% end %>
								</ul>		
							</div><!--//right-->
							
						</div><!--//grid_12-->
					</div><!--//container_12-->
				</div><!--//header-bar-->
				
				
				<div id="header-main" class="clearfix">
					<div class="container_12">
						<div class="grid_3">					
							<h1 id="logo"><a href="/" title="Back to the Home Page"><img src="/images/tvc_logo_1.jpg" alt="Logo" /></a></h1>
						</div><!--//grid_3-->
						<div class="grid_22">
							<ul class="sf-menu clearfix">
								<li class="current-menu-item"><a href="/">Home</a></li>
								<li><a href="/">How It Works</a></li>
								<li><a href="/">Pricing</a></li>
								<li><a href="/">Blog</a></li>
								<li><a href="/">Contact</a></li>
								<% if user_signed_in? %>
								  <li><a href="/account/home">Account</a></li>
								<% else %>
								<li><%= link_to "Sign up", new_user_registration_path %></li>
								<li><%= link_to "Log in", new_user_session_path %></li>
								<% end %>
							</ul>
						</div><!--//grid_6-->
			
					</div><!--//container_12-->
				</div><!--//header-main-->
				
				<div class="container_12"><div class="grid_12 clearfix"><hr class="nopad" /></div></div><!--//container_12-->
				
			</div><!--//header-->
			
			
			<!-- *** -->
			
			<div id="main" class="clearfix">
				
				<div class="container_12">

<%= yield %>


											</div><!--//container_12-->	

										</div><!--//main-->


										<!-- *** -->




											<div class="container_12"><div class="grid_12 clearfix"><hr class="nopad thick" /></div></div><!--//container_12-->

											<div id="footer-bottom" class="clearfix">
												<div class="container_12">						
													<div class="grid_12">							

														<div class="left">
															<ul class="footer-menu inline-list clearfix"> 
																<li><a href="#">Legal</a>&nbsp;&nbsp;</li>									
																<li><a href="#">Privacy</a></li>
															</ul>
															<p>Copyright &copy; 2011 The Visible Closet, Inc. All rights reserved.</p>
														</div><!--//left-->


													</div><!--//grid_4-->								
												</div><!--//container_12-->	
											</div><!--//footer-bottom-->



										</div><!--//footer-->


									</div><!--//outer-->
									<script src="js/analytics.js"></script><!--analytics inserted in footer-->
								</body>
							</html>